<div class="container">
  <div class="row">
    <div class="col-md-8 text-left">
        <h2 class="header-title">Mean Tea Shopping Bag</h2>
      </div>
    <div class="col-md-4 text-right">
        <h2>Order Total = 56.72</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <div class="col-md-4">
              <th class="col-background checkout-col-width-product">
                <h4>Product</h4>
              </th>
            </div>
            <div>
            <th class="col-background checkout-col-width">
              <div class="col-md-4">
                <h5>Quantity</h5>
              </div>
            </th>
            <th class="col-background checkout-col-width">
              <div class="col-md-4">
                <h5>Sub-Total</h5>
              </div>
             </th>
             <th class="col-background checkout-col-width">
             </th>
            </div>
          </tr>
        </thead>
      <div ng-repeat = "product in inventory">
        <tbody class="table">
        <tr>
          <td>{{product.name}}
            <div class="product-margin">
              <h3><img src="{{product.imageUrl}}" alt="" /></h3>
              <h5>Price: {{tea.price}}</h5>
              <h5>Caffeine Scale: {{tea.caffeine}} </h5>
              <h5>Ingredients: {{tea.ingredients}} </h5>
              <h5>Rating: {{tea.rating}} </h5>
            </div>
        </td>
        <td class="cell-size-right">
          <div class="row">
            <div class="col-md-4">
              <h4>5</h4>
            </div>
          </div>
          <td class="cell-size-right">
            <div class="row">
              <div class="col-md-4">
                <h4>66.75</h4>
              </div>
            </div>
          <td class="cell-size-right">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-warning" name="button">Edit</button>
              </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" name="button">Remove</button>
              </div>

            </div>
          </div>
              <!-- THE END OF NG REPEAT -->
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
