<div class="container">
  <div class="row">
    <div class="col-md-8 text-left">
        <h2 class="header-title">Mean Tea Shopping Bag</h2>
      </div>
    <div class="col-md-4 text-right">
        <h2>Order Total = 56.72</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <div class="col-md-4">
              <th class="col-background checkout-col-width-product">
                <h4>Product</h4>
              </th>
            </div>
            <div>
            <th class="col-background checkout-col-width">
              <div class="col-md-4">
                <h5>Quantity</h5>
              </div>
            </th>
            <th class="col-background checkout-col-width">
              <div class="col-md-4">
                <h5>Sub-Total</h5>
              </div>
             </th>
             <th class="col-background checkout-col-width">

              </th>
            </div>
          </tr>
        </thead>
      <div>
        <tbody class="table">
        <tr>
          <td><img src="" alt="" />
            <div class="product-margin">
              <span>
            <h5 ng-model="taco">Price</h5></span>
            <h5>Caffeine Scale: </h5>
            <h5>Ingredients: </h5>
            <h5>Rating: </h5>
            <h5>In Stock: </h5>
            <h5>Categories: <ul>
                <li></li>
            </ul></h5>
          </div>
        </td>
        <td class="cell-size-right">
          <div class="row">
            <div class="col-md-4">
              <h4>5</h4>
            </div>
          </div>
          <td class="cell-size-right">
            <div class="row">
              <div class="col-md-4">
                <h4>66.75</h4>
              </div>
            </div>
          <td class="cell-size-right">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-warning" name="button">Edit</button>
              </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" name="button">Remove</button>
              </div>

            </div>
            </div>

      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
