  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Welcome To Mean Tea</h1>
      </div>
    </div>
  </div>
<div ng-repeat>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-right">
        Checkout: Bag: {{quantity}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tea</th>
            <th>Information</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td><img src="{{vw.image}}" alt="" /></td>
          <td>A TON OF STUFF</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div> <!--END OF NG-REPEAT-->



</div>
